<h1>Eat-Da-Burger</h1>

<h3>Save Burgers</h3>

<ul>
  {{#each burgers}}
  	<li>
       <p>Name: {{burger_name}}</p>
  	</li>
  {{/each}}
</ul>

<div>
  <form action="/api/burgers" method="POST">
  	<textarea type="text" name="burger"></textarea>

  	<button type="submit">Submit</button>
  </form>
</div>